@media screen and (max-width: 415px) {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        list-style: none;
        padding: 0;
    }
    
    .nav li a {
        text-decoration: none;
        color:black;
        font-size: 14px;
        font-weight: 700;
    }
    
    .nav > li:first-child {
        margin-right: 1.5REM;
    }

    .nav > li:last-child {
        background-color: #FD828A;
        padding: .5rem;
        border-radius: .8REM;
    }
    
    .nav > li:last-child a {
        color: white;
    }

    .nav li:active{
        transform: translateY(2px);
        cursor: pointer;
    }
}
@media screen and (min-width: 416px) and (max-width: 1920px) {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        list-style: none;
        padding: 0;
    }
    
    .nav li a {
        text-decoration: none;
        color:black;
        font-size: 18px;
        font-weight: 700;
    }
    
    .nav > li:first-child {
        margin-right: 8REM;
    }

    .nav > li:last-child {
        background-color: #FD828A;
        padding: 1rem;
        border-radius: 1REM;
    }
    
    .nav > li:last-child a {
        color: white;
    }

    .nav li:active{
        transform: translateY(2px);
        cursor: pointer;
    }
}
@media screen and (min-width: 1921px) {
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        list-style: none;
        padding: 0;
    }
    
    .nav li a {
        text-decoration: none;
        color:black;
        font-size: 18px;
        font-weight: 700;
    }
    
    .nav > li:first-child {
        margin-right: 8REM;
    }

    .nav > li:last-child {
        background-color: #FD828A;
        padding: 1rem;
        border-radius: 1REM;
    }
    
    .nav > li:last-child a {
        color: white;
    }

    .nav li:active{
        transform: translateY(2px);
        cursor: pointer;
    }
}