@media screen and (max-width: 415px){
    .Card {
        margin-top: 4REM;
        margin-bottom: 6REM;
        border-radius: 19px;
        color: white;
    }
    .Card img{
        height: 100%;
        width: 126px;
        margin: 14px 0;
    }
    .Card h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .Card p {
        font-size: 16px;
        margin-top: 4px;
        opacity: 65%;
        height: auto;
    }
    .tech-p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .Numb0 {
        background: #FD828A;
    }
    .Numb1 {
        background: #B781D0;
    }
    .Numb2 {
        background: #0FCFC9;
    }
    .proj-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .proj-text {
        padding: 0 22px;
    }
    .text-desc {
        width: 100%;
        overflow: hidden;
    }
    .btns {
        display: flex;
        justify-content: space-around;
    }
    .btns a {
        border: 4px solid white;
        padding: .7REM 1.3REM;
        border-radius: 4REM;
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
        width: 45%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 1REM;
    }
    .link-container {
        display: inline-block;
        width: 50%;
    }
    .Github0 { 
        background-color: #B781D0;
    }
    .Live0 {
        background-color: #0FCFC9;
    }
    .Github1 { 
        background-color: #0FCFC9;
    }
    .Live1 {
        background-color: #FD828A;
    }
    .Github2 { 
        background-color: #FD828A;
    }
    .Live2 {
        background-color: #B781D0;
    }
    .btnactive{
        cursor: pointer;
    }
    .btnactive:active{
        transform: translateY(2px);
    }
}
.Github0 { 
    background-color: #B781D0;
}
.Live0 {
    background-color: #0FCFC9;
}
.Github1 { 
    background-color: #0FCFC9;
}
.Live1 {
    background-color: #FD828A;
}
.Github2 { 
    background-color: #FD828A;
}
.Live2 {
    background-color: #B781D0;
}