@media screen and (max-width: 415px){
    .LogoContainer {
        display: inline;
    }
    .LogoContainer img {
        width: 115px;
        height: 40px;
    }
}
@media screen and (min-width: 1921px){
    .LogoContainer {
        display: inline;
    }
    .LogoContainer img {
        width: 75%;
        height: 75%;
    }
}
@media screen and (max-width: 1920px){
    .LogoContainer {
        display: inline;
    }
    .LogoContainer img {
        width: 85%;
        height: 85%;
    }
}
