@media screen and (max-width: 415px){
    .resume-container{
        padding: 2REM;
        height: 30REM;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .resume-container iframe{
        height: 0;
        width: 0px;
        min-height: 100%;
        min-width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .resume-container a {
        text-decoration: none;
        margin: 1REM;
        padding: .5REM;
        background: #B781D0;
        color: white;
        border-radius: .5REM;
    }
}
@media screen and (min-width: 415px) and (max-width: 1921px) {
    .resume-container{
        padding: 2REM;
        height: auto;
        width: 668px;
        height: 668px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .resume-container iframe{
        height: 100%;
        width: 100%
    }
    .resume-container a {
        text-decoration: none;
        margin: 1REM;
        padding: 1REM;
        background: #B781D0;
        color: white;
        border-radius: 1REM;
    }
}
@media screen and (min-width:1921px) {
    .resume-container{
        padding: 2REM;
        height: auto;
        width: 668px;
        height: 968px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .resume-container iframe{
        height: 100%;
        width: 100%
    }
    .resume-container a {
        text-decoration: none;
        margin: 1REM;
        padding: 1REM;
        background: #B781D0;
        color: white;
        border-radius: 1REM;
    }
}