---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Patryck Golebiewski" description="Welcome">
	<main class="space-y-4">
		<div class="gap-2">
		<h1 class="text-primary text-xl font-bold">Hi I'm Patryck // Keef</h1>
		<p class="my-2 text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		
		<div class="gap-2">
			<h2 class="text-lg text-primary font-bold">Activity</h2>
			<ul>
				<li><p>Currently Listening to: </p></li>
			</ul>
		</div>

		<div class="gap-2">
			<h2 class="text-lg text-primary font-bold">Projects</h2>
			<ul>
				<li><p>Currently Listening to: </p></li>
			</ul>
		</div>

		<div class="gap-2">
			<h2 class="text-lg text-primary font-bold">Articles</h2>
			<ul>
				<li><p>Currently Listening to: </p></li>
			</ul>
		</div>
	</main>
</Layout>