---
import Image from "astro/components/Image.astro";
import Chip from "../images/chip.svg";

export type NavItem = {
	url: string;
	title: string;
};

const entries: Array<NavItem> = [{ url: "/blog", title: "blog" }];
---

<div class="flex w-full flex-row justify-between">
  <a href="/">
  <Image 
  src={Chip}  
  format="svg"
  alt=""
  class="h-8 w-8"
  />  </a>
  <div class="gap-4 justify-end flex flex-row">
  {entries.map((f) => (
    <a
      href={f.url}
      class=
        "flex items-center transition-colors hover:text-foreground/80 sm:text-md capitalize text-primary",
    >
      {f.title}
    </a>
  ))}  </div>
</div>